bin/
lib/
*.o
*.a
*.so
*.gnco
*.gcna
input/base_input/*
input/base_input
input/compressed_corpus/*
input/pngsuite
input/pngsuite/*
output/
output/*
utils/coverage/source/*
utils/coverage/source
utils/minimize_corpus/all_inputs/*
utils/minimize_corpus/cmin_inputs/*
utils/minimize_corpus/tmin_inputs/*
